<template>
    <div class="card card-sm">
        <div class="card-body row no-gutters align-items-center">

            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search"
                       placeholder="Rechercher un flux"
                       v-model="val"
                       v-on:keyup.enter="search()"
                >
            </div>
            <i class="search-icon" v-on:click="search()">
                <font-awesome-icon icon="search"/>
            </i>
        </div>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        val: null,
      }
    },
    methods: {
      search () {
        this.$emit('searching', this.val)
      }
    }
  }
</script>

<style scoped>
    .search-icon{
        margin-left: 15px;
        cursor: pointer;
    }
</style>
