<template>
    <div class="spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['firstname', 'lastname', 'from']
  }
</script>

<style>
    .spinner{
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 99;
    }
    .spinner .spinner-border{
        width: 5rem;
        height: 5rem;
    }
</style>
