<template>
    <div class="page">
        <div class="content">
            <!-- Page Content -->
            <div class="container">
                <div class="row">

                    <div class="col-lg-3">
<!--                        <h1 class="my-4">Catégories</h1>-->
                        <Categories v-bind:category_list="categories"/>
                    </div>
                    <div class="col-lg-9">
                        <Spinner v-if="loading"/>
                        <FeedGrid v-bind:news_list="feed"/>
                        <!--<div id="app">{{ message }}</div>-->
                        <!--<div id="rss" class="">-->
                        <!--<rss_items v-bind:news="infos"></rss_items>-->
                        <!--</div>-->
                    </div>
                    <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
    </div>
</template>

<script>
  import bus from '../main.js'

  import FeedGrid from '../components/FeedGrid'
  import Categories from '../components/Categories'
  import Spinner from '../components/mini/Spinner'

  import FeedService from '../services/api/FeedService'
  import CategoryService from '../services/api/CategoryService'

  export default {
    name: 'homepage',
    components: {FeedGrid, Categories, Spinner},

    data: function () {
      return {
        loading: false,
        categories: null,
        feed: null
      }
    },
    methods: {
      reload: function () {
        this.feed = null
      }
    },
    mounted () {
      this.loading = true
      FeedService.getFeed()
        .then(feed => {
          this.feed = feed
          this.loading = false // on retire le spinner quand c'est chargé
        })

      CategoryService.getCategories()
        .then(categories => {
          this.categories = categories
        })
    },
    created () {
      // je m'abonne au reload ! <3
      bus.$on('reload_feed', (id) => {
        console.log('reload notification received !')
        this.loading = true // on retire le spinner quand c'est chargé
        this.feed = null
        FeedService.getCategoryFeed(id)
          .then(feed => {
            this.feed = feed
            this.loading = false // au rechargement des données, on retire le spinner
          })
      })
    }
  }
</script>
