<template>
    <div class="page">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <SearchBar
                        v-on:searching='getFeedResults($event); getCategories();'
                        class="searchBar"
                    />
                </div>

                <div class="col-12 col-md-10 col-lg-8">
                    <Spinner v-if="loading"/>
                    <FeedSearchResults v-bind:feeds='feeds' v-bind:categories="categories"/>
                </div>
                <!--end of col-->
            </div>
            <!-- /.container -->
        </div>
    </div>
</template>

<script>
  import SearchBar from '../components/mini/SearchBar'
  import Spinner from '../components/mini/Spinner'
  import FeedSearchResults from '../components/FeedSearchResults'

  import SearchFeedService from '../services/api/SearchFeedService'
  import CategoryService from '../services/api/CategoryService'

  export default {
    name: 'fluxpage',
    components: {SearchBar, Spinner, FeedSearchResults, CategoryService},
    data () {
      return {
        feeds: null,
        categories: null,
        loading: false
      }
    },
    methods: {
      getFeedResults (_searchTerms) {
        let self = this

        this.feeds = null
        this.loading = true
        SearchFeedService.findFeeds(_searchTerms)
          .then(function (result) {
            self.loading = false
            self.feeds = result
          })
        console.log(_searchTerms)
      },
      getCategories () {
        let self = this
        CategoryService.getCategories()
          .then(function (result) {
            self.categories = result
          })
      }
    }
  }
</script>


<style>
    .searchBar {
        margin-bottom: 20px;
    }
</style>
