<template>
    <div class="categories">
        <!--<span>ici les categs</span>-->
        <a @click="list_visible = !list_visible" class="toggle-category-list list-group-item">
            Catégories
            <font-awesome-icon icon="search"/>
        </a>

        <!-- 'v-on:click.stop' the event propagation (do not collapse the category tab  )-->

        <b-collapse v-model="list_visible" id="category-list" class="list-group">
            <div v-for="(category, index) in category_list"
                 class="layer-1 list-group-item clickable"
                 v-bind:category_id="category.id"
                 v-b-toggle="'collapse-category-'+index">
                <a class="category-name"
                   v-on:click.stop="reloadFeedByCategory(category.id)">
                    {{category.name}}
                </a>
                <font-awesome-icon class="icon" icon="caret-down"/>


                <b-collapse class="sub-categories-container"
                            v-bind:id="'collapse-category-'+index"
                            accordion="accordion-subcategories"
                >
                    <a class="layer-2 sub-category list-group-item clickable"
                       v-for="rss in category.rss"
                       v-on:click.stop="reloadFeed(rss.id)">{{rss.name}}
                    </a>
                </b-collapse>
            </div>
        </b-collapse>
    </div>
</template>

<script>
  import bus from '../main.js'

  export default {
    data () {
      return {
        mobileDisplay: false,
        list_visible: true
      }
    },
    props: ['category_list'],
    methods: {
      reloadFeedByCategory (id) {
        // collapse category list when load feed on mobile
        if (this.mobileDisplay) {
          this.list_visible = false
        }
        console.log('emitting notification ' + id)
        bus.$emit('reload_feed_by_category', id)
      },
      reloadFeed (id) {
        console.log(this.mobileDisplay);
        console.log(this.list_visible);
        // collapse category list when load feed on mobile
        if (this.mobileDisplay) {
          this.list_visible = false
        }
        console.log('emitting notification ' + id)
        bus.$emit('reload_feed', id)
      }
    },
    mounted () {
      // A single check at module startup to know if mobile/tablet size
      if (screen.width < 992) {
        this.mobileDisplay = true
        this.list_visible = false
      }
    }
  }
</script>

<style scoped>
    .categories {
        margin-bottom: 20px;
    }

    .toggle-category-list {
        cursor: pointer;
        color: white!important;
        background-color: #343a40;
        margin-bottom: 5px;
        border-radius:0.25rem;
    }

    .toggle-category-list:hover {
        /*color: white;*/
    }

    .clickable {
        cursor: pointer;
    }

    .sub-category {
        font-size: 0.9rem;
    }

    .sub-categories-container {
        margin-top: 5px;

        /* limit the grey/blue padding */
        margin-left: -18px;
        margin-right: -18px;
        margin-bottom: -10px;
    }
    
    .icon{
        float: right;
    }

    .layer-1:not(.collapsed){
        background-color: #343a40;
    }

    .layer-1:not(.collapsed) > a,
    .layer-1:not(.collapsed) > .icon {
        color:white;
    }

    .layer-2{
        border-radius: 0;
    }
</style>
