<template>
    <div>
        <!--<span>ICI SERA INVOQUE LE FLUUUX !!</span>-->
        <div class="card-columns">
            <FeedItem
                    v-for="(news, index) in news_list"
                    v-bind:news="news"
                    v-bind:index="index"
            />
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  import FeedItem from './FeedItem'

  export default {
    components: {FeedItem},
    methods: {
      formatDate: function (timestamp) {
        return moment.unix(timestamp).format('\\L\\e DD/MM/YYYY hh:mm')
      }
    },
    props: ['news_list']
  }
</script>

<style>

</style>
