<template>
    <div>
        <div class="card" v-for="(feed, index) in feeds" :key="index">
            <div class="card-body">
                <h5 class="card-title">{{feed.name}}</h5>
                <p class="card-text">{{feed.description}}</p>
                <a v-bind:href="feed.website">{{feed.website}}</a>

                <b-spinner v-if="loading === index" label="Spinning" class="spinner"></b-spinner>

                <b-dropdown
                        :disabled="loading !== false"
                        v-if="!feed.id"
                        v-on:click="addFeed(index, feed)" split
                        text="Suivre"
                        variant="primary"
                        class="follow m-2">
                    <CategoryList
                            v-bind:categories="categories"
                            v-on:return_category='addFeed(index, feed, $event);'
                    />
                </b-dropdown>

                <b-dropdown
                        :disabled="loading !== false"
                        v-if="feed.id"
                        text="Suivi"
                        variant="secondary"
                        class="follow m-2">
                    <b-dropdown-item
                            v-on:click="removeRss(index, feed)"
                            href="#">Retirer
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>
    </div>
</template>

<script>
  import CategoryList from './FeedSearch/CategoryList'
  import RssService from '../services/api/RssService'

  export default {
    data () {
      return {
        val: null,
        loading: false
      }
    },
    components: {CategoryList, RssService},
    props: ['feeds', 'categories'],
    methods: {
      follow (feedUrl) {
        // console.log(feedUrl)
      },
      addFeed (index, feed, category) {
        let self = this
        this.loading = index
        feed.category = category
        RssService.AddRss(feed)
          .then(rss => {
            feed.id = rss.id
            self.loading = false // au rechargement des données, on retire le spinner
          })
      },
      removeRss (index, feed) {
        let self = this
        this.loading = index
        RssService.RemoveRss(feed.id)
          .then(function () {
            feed.id = null
            self.loading = false
          })
      }
    }
  }
</script>

<style scoped>
    .card {
        margin-bottom: 25px;
        text-align: left;
    }

    .card .follow {
        float: right
    }

    .card .spinner {
        width: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
    }
</style>
