<template>
    <div class="card">
        <div class="img-container">
            <i><font-awesome-icon icon="map-pin"/></i>
        </div>

        <img v-if="news.image" v-bind:src="news.image" class="card-img-top">
        <div class="card-body">
            <a v-bind:href="news.link"
               class="news-a-container"
               target="_blank">
                <h5 class="card-title title">{{news.title}}</h5>
            </a>
            <a v-b-toggle="'collapse-'+index"
               v-on:click="toggleCollapse()"
               class="description-collapser">
                <font-awesome-icon class="fa-2x" v-bind:icon="collapseIcon"></font-awesome-icon>
            </a>

            <b-collapse v-bind:id="'collapse-'+index" class="mt-2">
                <p class="card-text description">{{news.description}}</p>
            </b-collapse>
            <p class="card-text">
                <small class="text-muted">{{news.rss_name}} | {{news.category}}</small>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{(formatDate(news.pub_date))}}</small>
        </div>
        <!--</a>-->
    </div>

</template>

<script>
    import moment from 'moment'

    export default {
    data () {
      return {
        collapsed: false,
        collapseIcon: 'caret-down'
      }
    },
    methods: {
      formatDate: function (timestamp) {
        return moment.unix(timestamp).format('\\L\\e DD/MM/YYYY hh:mm')
      },
      toggleCollapse () {
        this.collapsed = !this.collapsed
        this.updateCollapseIcon()
      },
      updateCollapseIcon () {
        this.collapseIcon = this.collapsed ? 'caret-up' : 'caret-down'
      }
    },
    props: ['news', 'index']
  }
</script>

<style>
    .news-a-container {
        color: inherit;
    }

    .news-a-container:hover {
        text-decoration: none;
        color: inherit;
        text-decoration: inherit; /* no underline */
    }

    .card:hover {
        background-color: #EFEFEF;
    }

    .card-title.title {
        max-height: 150px;
        overflow: hidden;
    }

    .card-text.description {
        max-height: 150px;
        overflow: hidden;
    }

    .card-footer > small {
        width: 100%;
        display: inline-block;
        text-align: right;
    }

    .card .img-container {
        position: absolute;
        padding: 5px;
        right: 0;
    }

    .card .img-container i {
        display: none;
        color: white;
        padding: 10px;
        float: right;
        background-color: rgba(52, 58, 64, 0.7);
        border-radius: 3px;
    }

    .card:hover i {
        display: block;
    }

    .card .description-collapser {
        cursor: pointer;
        float: right;
    }
</style>
