<template>
    <div>
        <h1>Hello {{ firstname }} {{ lastname }} de {{ from }} !</h1>
        <input type="text" v-model="firstname" placeholder="prénom"/>
    </div>
</template>

<script>
    export default{
      // data () {
        // return {
        //   person: {
        //     firstname: 'John',
        //     lastname: 'Mac Carter'
        //   },
        //   from: 'Los Angeles'
        // }
      // },
      props: ['firstname', 'lastname', 'from']
    }
</script>

<style>

</style>
