<template>
    <div>
        <div>
            <b-navbar toggleable="lg" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <b-navbar-brand href="#">AggregaFlow</b-navbar-brand>
                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav class="ml-auto">
                            <b-nav-item v-for="item in nav_items"
                                        class="nav-item"
                                        :class="currentPath === item.path ? 'active' : null"
                                        :to='item.path'>{{item.name}}
                            </b-nav-item>
                        </b-navbar-nav>
                    </b-collapse>
                </div>
            </b-navbar>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentPath: null,
                nav_items: [
                    {
                        name: 'Accueil',
                        path: '/'
                    },
                    {
                        name: 'Flux',
                        path: '/flux'
                    },
                    {
                        name: 'Catégories',
                        path: '/categories'
                    },
                    {
                        name: 'Contact',
                        path: '/contact'
                    }
                ]
            }
        },
        methods: {
          updateActiveNavItem(){
              this.currentPath = this.$router.currentRoute.path
          }
        },
        mounted() {
            this.updateActiveNavItem()
        },
        watch: {
            $route(to, from) {
                this.updateActiveNavItem()
            }
        }
    }
</script>

<style>
</style>
