<template>
    <div>
        <b-dropdown-item
                v-for="category in categories"
                v-on:click="returnCategory(category)"
                href="#">
            {{category.name}}
        </b-dropdown-item>
    </div>
</template>

<script>
  // import bus from '../main.js'
  export default {
    props: ['categories'],
    methods: {
      returnCategory (category) {
        // console.log('emitting notification ' + id)
        this.$emit('return_category', category.id)
      },
    },
    mounted () {
    }
  }
</script>

<style>

</style>
